
<div>
  <h1>Web Services</h1>
</div>
<div>
  <label>Pokemon: </label>
  <input type="text"
    placeholder="Search" 
    name="search" 
    id="search">
</div>
<div>
  <button id="btn-search">Search</button>
</div>
<br>
<div>
  <form>
    <div>
      <label>Name: </label>
      <input type="text"
           placeholder="Name" 
           name="name" 
           id="name"
           [(ngModel)]="name">
    </div>
    <div>
      <label>Order: </label>
      <input type="text" 
           placeholder="Order" 
           name="order" 
           id="order"
           [(ngModel)]="order">
    </div>
  </form>
</div>